.card{
  border: 1px solid hsla(0, 0%, 0.80);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  max-width: 250px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}
.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: hsl(0, 0%, 30%);
  max-width: 25ch;
}
/* .card .click-btn{
  border: none;
  background-color: hsla(170, 69%, 31%, 0.7);
  color: hsl(0, 0%, 100%);
  padding: 10px 10px;
  border-radius: 5px;
 
  float: right;
} */