*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
   
}
.navbar-left{
  color: aquamarine;
}
.navbar{
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem;
}
.navbar-links{
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  gap: 1.5rem;
}
.navbar-links li.active{
 background-color: #555;
}

.navbar-links li a{
  text-decoration: none;
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}
.navbar-links li a:hover{
  background-color: #777;
}
.cart-icon{
  font-size: 2rem;
  color: aquamarine;
}




.card{
  border: 1px solid hsla(0, 0%, 0.80);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  max-width: 250px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}
.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: hsl(0, 0%, 30%);
  max-width: 25ch;
}
/* .card .click-btn{
  border: none;
  background-color: hsla(170, 69%, 31%, 0.7);
  color: hsl(0, 0%, 100%);
  padding: 10px 10px;
  border-radius: 5px;
  float: right;
} */

.welcome-msg{
  font-size: 2.5em;
  background-color: hsl(120, 100%, 42%);
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  color: hsl(0, 0%, 100%);
  text-align: center;
}
.login-prompt{
  font-size: 2.5em;
  background-color: hsl(0, 100%, 42%);
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  color: hsl(0, 0%, 100%);
  text-align: center;
}
.list-category{
  font-size: 2rem;
  color: #fff;
  border: 1px solid #555;
  text-align: center;
  background-color: #333;
  padding: 10px;
}
.list-item{
  font-size: 1.5em;
  color: #333;
  list-style: none;
  text-align: center;
}
